
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Remover treino</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AcademiaFrontEnd.styles.css" asp-append-version="true" />
</head>
<body class="bg-gray-100 text-gray-800 h-screen flex items-center justify-center">
    <section id="donations" class="py-16">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
            <div class="grid gap-8">
                <div class="card bg-white p-6 rounded-lg shadow-md hover:shadow-xl transition-shadow flex flex-col items-center justify-between">
                    <h2 class="text-3xl font-bold text-zinc-800 mb-8">
                        Deseja remover este treino?
                    </h2>
                    <h3 class="text-xl font-semibold text-black mb-4">Força</h3>
                    <p class="text-gray-600">
                        Nosso treino de força é perfeito para quem busca superar desafios,
                        melhorar o desempenho e construir uma base sólida de músculos fortes.
                        Experimente treinos intensos e eficazes que vão elevar sua
                        performance ao máximo.
                    </p>
                    <div>
                        <button class="mt-4 bg-black text-white font-bold px-6 py-2 rounded-md hover:bg-yellow-300 hover:text-black transition-colors">
                            Cancelar
                        </button>
                        <button class="mt-4 bg-black text-white font-bold px-6 py-2 rounded-md hover:bg-yellow-300 hover:text-black transition-colors">
                            Confirmar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>